{# src/Bajor/WebServiceBundle/Resources/views/Default/index.html.twig #}
{% extends '::base.html.twig' %}

{% block title %}Formularz - parametry równania kwadratowego{% endblock %}

{% block body %}
    <br />
    <h1>Parametry równania kwadratowego:</h1>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
{% endblock %}

